#system files
.DS_Store
build/
__pycache__/
archived/
*.egg-info/

# temporary
workflow_*.py
workflows_examples/
docs/

# do not include test results
#files
fort.10_ave*
fort.10_new*
fort.11
fort.12*
fort.12*
fort.2*
*.pseudo
*.basis
out_*
*.out
*.dat
parminimized.d
rand*
*.d
out_*
*ccECP*
run*.sh
*.png
structure.xsf
*.log
*.pkl
*.bin
turbogenius.o*
submit.sh
*.hdf5
*.output
*.chk


#dir
evsa*
alat*/
ave_temp/
parameters_graphs/
pkl/
turborvb.scratch/
